<h1>Asset Transfer</h1>
<form id='bform' action="/nft/getAssets" method='get'>
    <label>Wallet</label>
    <input name="wallet" id = "wallet" type="text" placeholder="wallet1" value="" required />
    <button value="Submit" type="submit">Get All Assets</button>
</form>
